$black:#000000;

$white:#FFFFFF;

$white_smoke:#F3F3F3;

$mercury:#E5E5E5;

$silver:#C4C4C4;

$gray:#BDBCBC;

$dark_gray:#AAAAAA;

$crimson:#C41134;

$carnation_pink:#BE0216;

$engine_red:#BA2026;

$nero:#2A2A2A;

$linear-gradient:(180deg, #161616 0%, rgba(22, 22, 22, 0) 100%);

$font-family:Proxima Nova,arial,sans-serif;